* {
	margin: 0px;
	padding: 0px;
}

body {
	overflow: hidden;
	background: #419fd9;
	background-image: url("../images/background_body.jpg");
	font-family: 'Open Sans', 'Roboto', 'Ubuntu', sans-serif;
	font-size: 16px;
	width: 100vw;
	height: 100vh;

}

a {
	text-decoration: none;
	border: 0;
	color: #000;
	cursor: pointer;
}

button {
	cursor: pointer;
}

button, input[type="search"], input[type="text"] {
	border: none;
	outline: none;
}

input[type="checkbox"] {
	margin: 7px;
	margin-right: 15px;
}

[contenteditable=true]:empty:not(:focus):before {
  content: attr(placeholder);
}

/* FIRST, THE OVERLAY ELEMENTS */

.alerts {
	position: absolute;
	bottom: 10px;
	left: 10px;
	z-index: 9999;
	padding: 10px;
	color: #666;
	border-radius: 4px;
	background: #FFF;
	box-shadow: 0 0 7px 0 rgba(0,0,0,0.4);
	display: none;
}

/* small conversation menu */
.moreMenu {
	position: absolute;
	top: 70px;
	right: 0px;
	z-index: 10;
	padding: 10px;
	color: #666;
	border-radius: 0 0 0 4px;
	background: #FFF;
	display: none;
	border-top: 1px solid #DDD;
}

.moreMenu .option {
	width: 150px;
	height: 50px;
	display: block;
	background: #FFF;
	font-size: 14px;
	text-align: left;
	border-radius: 4px;
	padding-left: 10px;
}

.moreMenu .option:hover {
	background: #DDD;
}

.moreMenu .option:nth-last-child(1) {
	margin-top: 3px;
}

/* switch to mobile version screen */
.switchMobile {
	position: absolute;
	width: 65%;
	height: auto;
	padding: 10px;
	background: #FFF;
	top: 75px;
	left: 0px;
	right: 0px;
	margin: auto;
	border-radius: 4px;
	box-shadow: 0 0 7px 0 rgba(0,0,0,0.1);
	display: none;
}

.switchMobile .title {
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 20px;
}

.switchMobile .desc {
	font-size: 14px;
	font-weight: 300;
	margin-bottom: 25px;
}

.switchMobile .okay {
	float: right;
	width: 80px;
	font-size: 16px;
	font-weight: 600;
	background: #419fd9;
	color: #fff;
	border-radius: 4px;
	padding: 10px;
}

/* side menu */
.menuWrap {
	position: absolute;
	width: 30%;
	min-width: 240px;
	max-width: 320px;
	height: 100%;
	z-index: 3;
	display: none;
}

.menu {
	position: relative;
	left: -320px;
	width: 100%;
	height: 100vh;
	float: left;
	background: #FFF;
	box-shadow: 0 0 7px 0 rgba(0,0,0,0.4);
	opacity: 0;
}

.me {
	position: relative;
	width: calc(100% - 50px);
	height: 140px;
	background: #419fd9;
	padding: 15px 25px;
	margin-bottom: 15px;
}

.me .image {
	width: 70px;
	height: 70px;
	position: absolute;
	background-size: cover;
	border-radius: 100%;
	cursor: pointer;
}

.me .settings {
	position: absolute;
	right: 20px;
    bottom: 15px;
	width: 40px;
	height: 40px;
	padding-top: 2px;
	color: #FFF;
	border-radius: 100%;
	background: rgba(0, 0, 0, 0.15);
}

.me .settings:hover {
	background: rgba(0, 0, 0, 0.35);
}

.me .cloud {
	position: absolute;
	right: 20px;
    bottom: 65px;
	width: 40px;
	height: 40px;
	color: #FFF;
	border-radius: 100%;
	background: rgba(0, 0, 0, 0.09);
}

.me .cloud:hover {
	background: rgba(0, 0, 0, 0.35);
}

.me .myinfo {
	position: absolute;
	bottom: 15px;
	font-size: 14px;
	color: #FFF;
}

.myinfo .name {
	font-weight: 600;
	margin-bottom: 5px;
}

.myinfo .phone {
	font-weight: 300;
}

nav button {
	width: 100%;
	height: 45px;
	background: #FFF;
	text-align: left;
	padding-left: 20px;
	color: #666;
}


#nc-chatnameField {
	border: 1px solid #000;
	width: 81%;
	height: 45px;
	/*background: #FFF;*/
	text-align: left;
	padding-left: 20px;
	margin-left: 19px;
	color: #666;
	font-size: 16px;

}

#nc-abort {
	width: 100%;
	height: 45px;
	padding-left: 0px;
	margin-left: 10%;
	color: #721c24;
	background-color: #f8d7da;
	border-color: #f5c6cb;
	text-align: center;
}
#nc-abort:hover {
	background-color: #f85352;
}
#nc-create {
	width: 100%;
	height: 45px;
	padding-left: 0px;
	margin-right: 10%;
	color: #155724;
	background-color: #d4edda;
	border-color: #c3e6cb;
	text-align: center;
}
#nc-create:hover {
	background-color: #78ed6f;
}
.nc-div {
	background-color: #D3D3D3;
}

nav {
	float: left;
	width: 100%;
	height: auto;
	max-height: 350px;
	overflow-x: hidden;
	overflow-y: auto;
}

nav button:hover {
	background: #EEE;
}

nav button > i {
	color: #999;
	float: left;
}

nav button > span {
	display: inline-block;
	margin-top: 5px;
	margin-left: 20px;
	font-weight: 600;
	font-size: 14px;
}

.info {
	position: absolute;
	left: 20px;
	bottom: 15px;
	font-size: 12px;
	color: #666;
}

/* configuration screen */
.config {
	position: absolute;
	width: 50%;
	height: 100vh;
	left: 0px;
	right: -200vw;
	top: 0px;
	margin: auto;
	background: #DDD;
	overflow-x: hidden;
	overflow-y: auto;
	display: block;
	z-index: 520;
	opacity: 0;
}

.confTitle {
	font-size: 24px;
	font-weight: 600;
	color: #444;
	margin: 10px 0px 15px 0px;
}

.configSect {
	float: left;
	width: calc(100% - 60px);
	padding: 15px 30px;
	margin-bottom: 10px;
	background: #FFF;
}

.configSect2 {
    float: left;
    width: calc(100% - 60px);
    padding: 15px 30px;
    margin-bottom: 10px;
    background: #FFF;
}

.profile .image {
	width: 140px;
	height: 140px;
	background-size: cover;
	border-radius: 100%;
	cursor: pointer;
	float: left;
	margin-right: 30px;
}

.side {
	width: auto;
	height: 110px;
	float: none;
	position: relative;
}

.side .name {
	font-size: 18px;
	font-weight: 600;
}

.side .pStatus {
	margin-top: 5px;
	font-size: 14px;
	font-weight: 300;
}

.profile .changePic, .profile .edit {
	width: auto;
	font-size: 16px;
	font-weight: 600;
	background: #419fd9;
	color: #fff;
	border-radius: 4px;
	padding: 10px;
}

.profile .edit {
	margin-left: 10px;
	background: #FFF;
	color: #999;
}

.profile .edit:hover {
	color: #419fd9;
}

.second ul {
	float: none;
	margin-left: -7px;
	list-style-type: none;
}

.second ul li {
	margin: 7px;
}

.second .blue {
	color: #419fd9
}

.second label {
	display: block;
	clear: both;
}

.second .information {
	margin-bottom: 30px;
}

.check {
	position: relative;
	float: left;
	display: block;
	width: 38px;
	height: 24px;
	background: #BBB;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}

.check > .tracer {
	width: 16px;
	height: 16px;
	background: #FFF;
	float: left;
	margin: 4px;
	transition: all 0.2s ease-in-out;
}

#checkNight, #deskNotif, #showSName, #showPreview, #playSounds {
	display: none;
}

.toggleTracer:checked ~ .check {
	background: #419fd9;
}

.toggleTracer:checked ~ .check > .tracer {
	margin-left: 18px;
}

.optionWrapper {
	display: block;
	width: 100%;
	height: 32px;
}

.optionWrapper p {
	float: left;
	margin-top: 3px;
	margin-left: 15px;
	font-size: 14px;
	color: #444;
}

/* dark overlay element */
.overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.8);
	z-index: 2;
	display: none;
}

/* ----------------- */
/* MAIN APP ELEMENTS */
/* ----------------- */

.leftPanel {
	position: relative;
	display: inline-block;
	left: 0px;
	width: 35%;
	height: 100vh;
	float: left;
	background: #FFF;
	border-right: 1px solid #DDD;
}

header {
	width: 100%;
	height: 70px;
	background: #FFF;
}

.trigger {
	float: left;
	margin: 24px 20px;
	margin-bottom: 0px;
	color: #BBB;
	cursor: pointer;
	background: none;
}

.trigger:hover {
	color: #888;
}

.searchChats {
	width: calc(100% - 85px);
	height: 40px;
	background: #EEE;
	float: left;
	padding: 8px;
	margin-top: 14px;
	border: none;
	border-radius: 4px;
	font-size: 14px;
	font-weight: 600;
}

.searchChats:focus {
	color: #444;
	background: rgb(243, 243, 243);
}

.chats {
	width: 100%;
	height: calc(100vh - 70px);
	float: left;
	overflow-x: hidden;
	overflow-y: auto;
}

.chatButton {
	float: left;
	width: 100%;
	height: 80px;
	background: #FFF;
	color: #555;
	cursor: pointer;
	overflow: hidden;
}

.chatButton:hover {
	color: #555;
	background: #EEE;
}

.active {
	color: #FFF;
	background: #419fd9;
}

.active:hover {
	color: #FFF;
	background: #419fd9;
}

.chatInfo {
	float: left;
    margin-left: 15px;
    margin-right: 15px;
    max-width: 65%;
}

.chatInfo p {
	float: left;
}

.imagenew {
    float: left;
    max-width: 45%;
    height: auto;
    padding: 30px;
    /* margin: 10px; */
    margin-top: 12px;
    margin-right: -5px;
    margin-bottom: 0px;
    margin-left: 10px;
    border-radius: 50px;
    clear: both;
}

.chatInfo .image {
	position: absolute;
	width: 55px;
	height: 55px;
    background-size: cover;
	border-radius: 100%;
	margin: 13px 13px;
}

.chatInfo .name {
	float: left;
	font-weight: 600;
	margin-top: 18px;
    white-space: nowrap;
    max-width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
}

.chatInfo .message {
	float: left;
	clear: left;
	margin-top: 7px;
    font-size: small;
    white-space: nowrap;
    max-width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
}

.status {
	width: 60px;
	height: 100%;
	position: relative;
	float: right;
}

.status .fixed {
	position: absolute;
	right: 10px;
	bottom: 10px;
	display: none;
}

div[class~="normal"] > .fixed {
	display: none;
}

div[class~="normal"] > .count {
	right: 10px;
	bottom: 7px;
}

div[class~="onTop"] > .fixed {
	display: block;
}

div[class~="onTop"] > .count {
	right: 49px;
	bottom: 7px;
	background: #FFF;
	color: #419fd9;
}

.status .count {
	position: absolute;
	right: 49px;
	bottom: 7px;
	width: auto;
	height: auto;
	padding: 7px;
	border-radius: 20px;
	color: #222;
	background: rgba(0, 0, 0, 0.12);
}

.status .date {
	position: absolute;
	right: 12px;
	top: 12px;
	font-size: 12px;
}

.status .read {
	position: absolute;
	right: 53px;
	top: 6px;
}

.rightPanel {
	float: left;
	width: calc(65% - 1px);
	height: 100vh;
	background: #999;
}

.rightPanel .topBar {
	position: relative;
	width: 100%;
	height: 70px;
	background: #FFF;
	overflow: hidden;
}

.leftSide {
	display: inline-block;
	clear: none;
	float: left;
	max-width: calc(100% - 100px);
    white-space: nowrap;
}

.leftSide .chatName {
	float: left;
	margin-left: 30px;
	margin-top: 13px;
	color: #444;
	font-weight: 600;
	cursor: default;
	overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

.leftSide .chatStatus {
	float: left;
	clear: left;
	margin-left: 30px;
	margin-top: 5px;
	color: #419fd9;
	font-weight: 300;
	cursor: default;
	overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

.rightSide {
	display: inline-block;
	clear: none;
	float: right;
	margin-right: 20px;
	max-width: 100px;

}

.tbButton, .otherTools .toolButtons {
	width: 50px;
	height: 50px;
	margin-top: 10px;
	background: #FFF;
	color: #888;
	border-radius: 100%;
}

.tbButton:hover, .otherTools .toolButtons:hover {
	color: #555;
	background: #DDD;
}

#chatOption {
    width: 50px;
    height: 50px;
    margin-top: 10px;
    background: #FFF;
    color: #888;
    border-radius: 100%;
}

#chatOption:hover {
    color: #555;
    background: #DDD;
}

/* THE CONVERSATION HISTORY css */

.convHistory {
	float: left;
	position: relative;
	width: 100%;
	height: calc(100vh - 140px);
	background: #333;
	overflow-x: hidden;
	overflow-y: auto;
}

.userBg {
    background: url("../images/chat_hintergrund.jpg") 100% center;
}

.msg {
	position: relative;
	width: auto;
	min-width: 100px;
	max-width: 45%;
	height: auto;
	padding: 25px;
	padding-bottom: 35px;
	margin: 10px 15px;
	margin-bottom: 10px;
	background: #FFF;
	border-radius: 7px;
	/*clear: both;*/
	word-wrap: break-word;
	line-height: 20px;
}

.msg:nth-last-child(1) {
	margin-bottom: 20px;
}

.msg .timestamp {
	display: block;
	position: absolute;
	right: 10px;
	bottom: 6px;
	color: #AAA;
	user-select: none;
}

.chatDatum {
    text-align: center;
    max-height: 0px;
    max-width: 80px;
    padding: 10px;
    padding-bottom: 30px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 0px;
    background: rgba(228, 226, 221, 0.74);
    border-radius: 100px;
    clear: both;

}

.chatVerlassen {
    text-align: center;
    min-height: 0px;
    padding: 10px;
    margin: auto;
    margin: 10px;
    margin-bottom: 0px;
    background: rgba(228, 226, 221, 0.74);
    border-radius: 100px;
    clear: both;

}

.messageReceived {
	float: left;
	background: #FFF;
    clear: both;
}

.messageReceivedGroup{
    float: left;
    background: #FFF;
}



.msgimage{
    float: left;
    max-width:45%;
    height: auto;
    padding: 30px;
    /*margin: 10px;*/
    margin-top: 12px;
    margin-right: -5px;
    margin-bottom: 0px;
    margin-left: 10px;
    border-radius: 50px;
    clear:both;


}

.messageSent {
	float: right;
	background: #effdde;
    clear: both;
}

.messageSent > .timestamp, .messageSent > .readStatus {
	bottom: 10px;
	right: 40px;
	color: darkgreen;
	user-select: none;
}

.messageSent > .readStatus {
	position: absolute;
	bottom: 10px;
	right: 12px;
}


/* THE REPLY BAR css */

.replyBar {
	width: 100%;
	height: 70px;
	float: left;
	background: #fff;
	/*display: none;*/
}

.replyBar .attach {
	width: 70px;
	height: 70px;
	color: #777;
	background: #FFF;
	float: left;
}

.replyBar .attach:hover {
	color: #555;
	background: #DDD;
}

.replyBar .d45 {
	transform: rotate(45deg);
	font-size: 32px;
}

.replyBar .replyMessage {
	/*width: calc(100% - 140px);*/
	width: calc(100% - 70px);
	float: left;
	height: 70px;
	padding: 0px 8px;
	font-size: 16px;
	line-height: 70px;
	overflow: auto;
}

.replyBar .otherTools {
	float: right;
	/*width: 120px;*/
	width: 50px;
	height: 70px;
    display: none;
}

#inputChatMessage {
    display: none;
}

.emojiBar {
    display: none;
	position: absolute;
	width: 325px;
	height: 200px;
	padding: 10px;
	right: 30px;
	bottom: 80px;
	border: 2px solid #DDD;
	border-radius: 3px;
	background: #FFF;
}

.emoticonType {
	width: 100%;
	height: 50px;
}

.emoticonType button {
	width: 105px;
	height: 36px;
	font-weight: 600;
	color: #555;
	background: none;
}

.emoticonType button:hover {
	color: #FFF;
	background: #419fd9;
}

.emojiList, .stickerList {
	width: 100%;
	height: 150px;
	overflow-x: hidden;
	overflow-y: auto;
}

.emojiList .pick {
	width: 50px;
	height: 50px;
	background: transparent;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 70%;
	transition: all 0.15s ease-in-out;
}

.emojiList .pick:hover {
	background: #DDD;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 70%;
}

.stickerList .pick {
	width: 80px;
	height: 80px;
	background: transparent;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 65%;
	transition: all 0.15s ease-in-out;
}

.stickerList .pick:hover {
	background: #DDD;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 65%;
}


/* hidden, while not complete */
.stickerList {
	display: none;
}

/* css FOR THE EMOJI IMAGES, JUST SOME */

/*
#smileface {
	background-image: url(https://emojipedia-us.s3.amazonaws.com/thumbs/120/apple/96/grinning-face_1f600.png);
}

#grinningface {
	background-image: url(https://emojipedia-us.s3.amazonaws.com/thumbs/120/apple/96/grinning-face-with-smiling-eyes_1f601.png);
}

#tearjoyface {
	background-image: url(https://emojipedia-us.s3.amazonaws.com/thumbs/120/apple/96/face-with-tears-of-joy_1f602.png);
}

#rofl {
	background-image: url(https://emojipedia-us.s3.amazonaws.com/thumbs/120/apple/96/rolling-on-the-floor-laughing_1f923.png);
}

#somface {
	background-image: url(https://emojipedia-us.s3.amazonaws.com/thumbs/120/apple/96/smiling-face-with-open-mouth_1f603.png);
}

#swfface {
	background-image: url(https://emojipedia-us.s3.amazonaws.com/thumbs/120/apple/96/smiling-face-with-open-mouth-and-smiling-eyes_1f604.png);
}
*/

/* Button verborgen bei normalen Bilschirmgrößen wo Rand exestiert*/
#close-settings {
	display: none;
}

/* SOLVING RESPONSIVE DESIGN ISSUES */

@media screen and (max-width: 1090px) {
	.leftPanel {
		width: 40%;
	}

	.rightPanel {
		width: calc(60% - 1px);
	}

	.config {
		width: 70%;
	}
}

@media screen and (max-width: 840px) {
	.leftPanel {
		width: 40%;
	}

	.rightPanel {
		width: calc(60% - 1px);
	}

	.config {
		width: 90%;
	}
}

@media screen and (max-width: 640px) {
	body {
		font-size: 14px;
	}

	.leftPanel {
		width: 45%;
	}

	.rightPanel {
		width: calc(55% - 1px);
	}

	.msg {
		width: 90%;
	}
}

@media screen and (max-width: 640px) {
	.leftPanel {
		width: 45%;
	}

	.rightPanel {
		width: calc(55% - 1px);
	}

	.msg {
		width: auto;
		max-width: 60%;
	}

	.profile .changePic, .profile .edit {
		font-size: 14px;
		font-weight: 500;
	}

	.profile .edit {
		margin-left: 5px;
	}
}


@media screen and (max-width: 540px) {
	/*.switchMobile {
		display: block;
	}*/

	/* sichtbar bei kleinen Bildschirmen*/
	#close-settings {
		display: block;
	}


	.leftPanel, .rightPanel, .menuWrap, .config, .overlay {
		/*display: none;*/
		width: 100%
	}


	.rightPanel{
		height: 70vh;
		position:fixed;
		bottom:0;
		left:0;
	}

	.rightPanel .topBar{
		height: 10vh;
		background-color: aliceblue;
		padding-top: 1vh;
		padding-bottom: 1vh;
	}

	.leftSide{

	}

	#chatOption{
		margin-top: 0px;
		background-color: aliceblue;
	}

	.leftSide .chatName{
		margin-top: 0px;
		height: 4vh;
	}

	.leftSide .chatStatus{
		heigth: 4vh;
	}

	.moreMenu{
		top: calc(30vh - 120px);
	}

	.convHistory{
		height: 50vh;

	}

	.msg{
		padding: 10px;
		padding-bottom: 25px;
		margin: 5px 10px;

	}

	.msg .timestamp{
		right: 10px;
	}

	.readStatus{
		right:10px;
	}
	.replyBar{
		height: 10vh;
	}

	.replyBar .otherTools{
		height: 10vh;
	}

	.tbButton, .otherTools .toolButtons{
		height:8vh;
		margin-top:1vh;
		margin-bottom: 1vh;
	}

	.emojiBar{
		width: 70vw;
		height: 40vh;
		right: 0px;
		bottom:8vh;
	}

	.emojiList, .stickerList {

		width: 100%;
		height: 30vh;
		overflow-x: hidden;
		overflow-y: scroll;

	}

	.chatDatum{
		padding-top: 1vh;
		padding-left: 1vh;
		padding-right: 1vh;
		padding-bottom: 4vh;
	}

	.chatVerlassen{
		padding-top: 1vh;
		padding-left: 1vh;
		padding-right: 1vh;
		padding-bottom: 1vh;
	}

	#inputChatMessage{
		height: 10vh;
		line-height: 10vh;
	}

	.leftPanel{
		height: 50%;
	}

	.chats{
		height: 20vh;
	}

	.message{
		display: none;
	}

	.chatButton{
		height: 50px;
	}

	.imagenew{
		max-height: 20px;
		max-width: 20px;
		height: 1%;
		width:1%;
		display:none;
	}

	header{
		height: 10vh;
	}
}

@media screen and (max-width: 300px) {
	.switchMobile {
		width: calc(220px - 20px);
	}
}

#nojavascript a {
	color: #fff;
	border-bottom: 2px dotted #fff;
}
#nojavascript {
	position: fixed;
	top: 0;
	bottom: 0;
	height: 100%;
	width: 100%;
	z-index: 9000;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.5);
	color: #fff;
	line-height: 125%;
	font-size: 24px;
}

.changePicture{
    width: 120px;
    font-size: 16px;
    font-weight: 600;
    background: #419fd9;
    color: #fff;
    border-radius: 4px;
    padding: 10px;
    border: none;
    outline: none;
    cursor: pointer;
}

.editSubmitButton{
	width: 120px;
	font-size: 16px;
	font-weight: 600;
	background: #419fd9;
	color: #fff;
	border-radius: 4px;
	padding: 10px;
	border: none;
	outline: none;
	cursor: pointer;
}

.choosePicture{
    width: auto;
    font-size: 16px;
    font-weight: 600;
    background: #66676747;
    color: black;
    border-radius: 4px;
    padding: 10px;
    border: none;
    outline: none;
    cursor: pointer;
}

input.invalid {
    border:1px solid red;
    box-shadow: 0 0 5px 1px red;
}


.alert {
	position: absolute;
	padding: 0.75rem 1.25rem;
	border: 1px solid transparent;
	border-radius: 0.25rem;
	width: 100%;
	z-index: 50;
}

.alertPassword {
	padding: 0.75rem 1.25rem;
	border: 1px solid transparent;
	border-radius: 0.25rem;
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.alert-success {
	color: #155724;
	background-color: #d4edda;
	border-color: #c3e6cb;
}

.editPersonalInfoDiv .form-control {
	display: block;
	width: 96%;
	padding: 0.375rem 0.75rem;
	font-size: 1rem;
	line-height: 1.5;
	color: #495057;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	border-radius: 0.25rem;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control::-ms-expand {
	background-color: transparent;
	border: 0;
}

.form-control:focus {
	color: #495057;
	background-color: #fff;
	border-color: #80bdff;
	outline: 0;
	box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.form-control::-webkit-input-placeholder {
	color: #6c757d;
	opacity: 1;
}

.form-control::-moz-placeholder {
	color: #6c757d;
	opacity: 1;
}

.form-control:-ms-input-placeholder {
	color: #6c757d;
	opacity: 1;
}

.form-control::-ms-input-placeholder {
	color: #6c757d;
	opacity: 1;
}

.form-control::placeholder {
	color: #6c757d;
	opacity: 1;
}

.form-control:disabled, .form-control[readonly] {
	background-color: #e9ecef;
	opacity: 1;
}

select.form-control:not([size]):not([multiple]) {
	height: calc(2.25rem + 2px);
}

select.form-control:focus::-ms-value {
	color: #495057;
	background-color: #fff;
}

.form-control-file,
.form-control-range {
	display: block;
	width: 100%;
}


.row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px;
}



.col {
	-ms-flex-preferred-size: 0;
	flex-basis: 0;
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	max-width: 100%;
}








/* Emojis */

.em, .em-svg {
	margin: 0 5px;
	height: 1.2em;
}

.newMessage {
	background: url(./../images/jalogo2.png) no-repeat center;
	background-size:cover;
	right: 15px;
	/*bottom: 25px;*/
	position: absolute;
	width: auto;
	height: auto;
	padding: 10px;
}

.cn {
	display: none;
}