.modal-content {
    border-style: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 8px;
    background : url("../images/background_body.jpg") 100% center;
    background: #fff;
    margin-top: 5vh;
    margin-right: 5vw;
    margin-left: 5vw;
}

.modal-header {
    color: #555;
    margin-left: 10px;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.modal-body {
    height: 70vh;
    padding: 0 !important;
    margin: 0 !important;
    background : url("../images/chat_hintergrund.jpg") 100% center;
    /*background-color: #404040;*/
    overflow-y: auto;
    overflow-x: hidden;
    border: 1px solid #f7f7f7;
    background: #fff;
}

#statisticContent {
    text-decoration: none;
    font-size: 20px;
    padding: 20px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 0px;
    background: rgba(228, 226, 221, 0.74);
    clear: both;
}

#statisticContent:hover{
    background-color:#ddd;
}

.modal-footer {
    color: #555;
    margin-left: 10px;
    margin-top: 3vh;
}


#toChat {
    text-decoration: none;
    color: #555;
}

#toLogout {
    text-decoration: none;
    color: #555;
}
#nojavascript a {
    color: #fff;
    border-bottom: 2px dotted #fff;
}
#nojavascript {
    position: fixed;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    z-index: 9000;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    line-height: 125%;
    font-size: 24px;
}